<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.findmykids.tracker.panda">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_HOTWORD"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAPTURE_MEDIA_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAPTURE_TUNER_AUDIO_INPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAPTURE_VOICE_COMMUNICATION_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.software.device_admin"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:name="com.findmykids.tracker.panda.util.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChildApp"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

            <meta-data android:name="`isMonitoringTool`" android:value="child_monitoring" />

        <activity
            android:name="com.findmykids.tracker.panda.activity.GuardianProfileActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Material_Theme" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.NotificationActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.AppUsageActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PrivacyActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.SOSActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.LocationActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.DashBoardActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Material_Theme" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.ProfileCreateActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Material_Theme" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.QrScannerActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.ResetPasswordActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.GuardianCodeActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.OTPVerificationActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.SignUpActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.findmykids.tracker.panda.activity.SignInActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.findmykids.tracker.panda.permission.UsagesAccessPerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.permission.NotificationPerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.permission.DisplayOverPerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.permission.BackgroundLocationPerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.permission.AudioRecordPerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.permission.LocationPerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.permission.GpsPerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.findmykids.tracker.panda.activity.SplashActivity"
            android:configChanges="orientation|uiMode"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.findmykids.tracker.panda.service.MainAppService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync|location|microphone" />

        <service
            android:name="com.findmykids.tracker.panda.service.MicrophoneService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver
            android:name="com.findmykids.tracker.panda.service.RestartServiceReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.REBOOT"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.findmykids.tracker.panda.service.EventManageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--                <action android:name="android.intent.action.APP_ERROR" />-->
<!--                <action android:name="android.intent.action.BUG_REPORT" />-->
                <data android:scheme="package" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.findmykids.tracker.panda.service.notification.MyGcmService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>